*.js        text eol=lf
*.jsm       text eol=lf
*.jsx     	text eol=lf
*.ts        text eol=lf
*.tsx   	text eol=lf
*.vue   	text eol=lf
*.json      text eol=lf
*.css       text eol=lf
*.html      text eol=lf
*.md binary
# 如果你不希望产生文本差异，以及行尾转换应用到任何二进制文件。可以使用系统内置的 binary，它会取消 text 和 diff 属性。
# *.pdf -crlf
# 强制 pdf 文件为 crlf

# eol=lf    入库时将行尾规范为 LF，检出时将行尾转换为 LF
# eol=crlf  入库时将行尾规范为 CRLF，检出时将行尾转换为 CRLF
# text=auto 自动格式化
# text  控制行尾的规范性，如果一个文本文件是规范的，则 Git 库中该文件的行尾总是LF
